html,
body,
#content {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: "AmaticSC", serif;
  background-color: aqua;
}

@font-face {
  font-family: "AmaticSC";
  src: url("AmaticSC-Regular.ttf") format("truetype");
}

ul {
  list-style-type: none;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 168, 127);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

.header,
.footer {
  background-color: #ffc0cb;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.headerBtn {
  font-size: 32px;
}
.footerBtn {
  font-size: 20px;
}
.headerBtn,
.footerBtn {
  display: grid;
  place-items: center;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  background-color: #fff8e7;
}

.footerBtn {
  height: 25px;
}

.headerBtn:active,
.footerBtn:active {
  transform: scale(0.98);
}

.headerBtn:hover,
.footerBtn:hover {
  cursor: pointer;
}

.main {
  background-image: url("./mainBG.jpg");
  overflow: auto;
}

.main-content {
  overflow: auto;
  border: 1px solid black;
  background-color: #fff8e7;
  color: #333333;
  border-radius: 15px;
  width: 60%;
  margin: 50px auto;
  padding-bottom: 50px;
  font-size: 32px;
}

.footer {
  background-color: #ffc0cb;
}
